[submodule "target-apps/clone"]
	path = target-apps/clone
	url = https://github.com/snuhcs-course/swpp-2025-project-team-07.git
[submodule "target-apps/momentag"]
	path = target-apps/momentag
	url = https://github.com/snuhcs-course/swpp-2025-project-team-06.git
[submodule "target-apps/snapdo"]
	path = target-apps/snapdo
	url = https://github.com/cherry-0/snapdo.git
[submodule "target-apps/xend"]
	path = target-apps/xend
	url = https://github.com/snuhcs-course/swpp-2025-project-team-11.git
[submodule "target-apps/budget-lens"]
	path = target-apps/budget-lens
	url = https://github.com/1oannis/budget-lens.git
[submodule "target-apps/google-ai-edge-gallery"]
	path = target-apps/google-ai-edge-gallery
	url = https://github.com/google-ai-edge/gallery.git
[submodule "target-apps/skin-disease-detection"]
	path = target-apps/skin-disease-detection
	url = https://github.com/ananmaysuri/Skin-Disease-Detection-App.git
[submodule "target-apps/llm-vtuber"]
	path = target-apps/llm-vtuber
	url = https://github.com/Open-LLM-VTuber/Open-LLM-VTuber.git
[submodule "target-apps/deeptutor"]
	path = target-apps/deeptutor
	url = https://github.com/HKUDS/DeepTutor.git
[submodule "target-apps/tool-neuron"]
	path = target-apps/tool-neuron
	url = https://github.com/Siddhesh2377/ToolNeuron.git
[submodule "target-apps/chat-driven-expense-tracker"]
	path = target-apps/chat-driven-expense-tracker
	url = https://github.com/pr0ximaCent/Langchain-Chat-Driven-Expense-Tracker-.git
[submodule "target-apps/oxproxion"]
	path = target-apps/oxproxion
	url = https://github.com/stardomains3/oxproxion.git
[submodule "target-apps/pocketpal-ai"]
	path = target-apps/pocketpal-ai
	url = https://github.com/a-ghorbani/pocketpal-ai.git
